*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 2rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1rem;
    color: #c2185b;
    font-weight: 500;

}

.nav-links a:hover {
      color: #c2185b;
      background-color: #c5658b;
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #c2185b; /* rosa escuro */
}
